.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  box-sizing: border-box;
  padding: var(--space-m);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-block-end: 0;
}

.subtitle {
  font-size: 1.5rem;
  margin-block-start: var(--space-s);
  margin-block-end: var(--space-l);
}

.action {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary);
}
