:root {
  --primary: royalblue;
  --primary-dark: midnightblue;
  --background: whitesmoke;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
